src/bica-feature-bica-cloudformation-stack/datalake-aws-cf-stack/state_machine/vw-cred-datalake-sfn-run-data-ingestion-pipeline.json
{
  "Comment": "VWC Datalake data ingestion pipeline",
  "StartAt": "Run Glue Job: Raw-to-Curated",
  "States": {
   "Run Glue Job: Raw-to-Curated": {
     "Type": "Task",
     "Resource": "arn:aws:states:::glue:startJobRun.sync",
     "Parameters": {
       "JobName": "glue-load-raw-to-curated",
       "Arguments":{ "--bucket.$":"$.bucket",
                    "--domain.$":"$.domain",
       "--table.$":"$.table",
       "--key_list.$":"$.key_list",
       "--env.$":"$.env"}
     },
   "Next": "Raw-to-Curated-Completed"
   },
     "Raw-to-Curated-Completed": {
       "Type": "Pass",
       "Next": "Run Glue job: Curated-to-Transformed"
    },
    "Run Glue job: Curated-to-Transformed": {
      "Type": "Task",
      "Resource": "arn:aws:states:::glue:startJobRun.sync",
      "InputPath": "$.Arguments",
      "Parameters": {
       "JobName": "glue-load-curated-to-transformed",
       "Arguments":{
         "--bucket.$":"$.--bucket",
         "--domain.$":"$.--domain",
         "--table.$":"$.--table",
         "--env.$":"$.--env"}
     },
     "Next":"Job Finished"
    },
    "Job Finished":{
      "Type": "Pass",
      "Result": "Success",
      "End": true
    }
  }
}